Repository nagcas/TerraQuakeApi, pull requests merged in 2025-10, with the labels that each got.

#147 Created Blog Post Detail Page 👌
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/navbar/navbarMenu.jsx
  frontend/src/pages/blog/BlogPost.jsx
  frontend/src/pages/blog/README.md
  frontend/src/pages/blog/blog.css
  frontend/src/pages/blog/blog.jsx
  frontend/src/pages/blog/blogDetail.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend, new feature

#146 Added Scientific Use Case
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/useCases/useCases.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend

#167 Remove unnecessary blank line in README.md
  frontend/README.md
Labels: fix

#151 Feature/pranjal/GitHub login
  backend/package.json
  backend/src/app.js
  backend/src/controllers/githubController.js
  backend/src/models/userModels.js
  backend/src/routes/githubAuthRoutes.js
  frontend/src/App.jsx
  frontend/src/pages/auth/githubAuth.jsx
  frontend/src/pages/auth/signIn.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, new feature, backend

#175 Refactor GitHub authentication controller: streamline redirect and error handling
  backend/src/controllers/githubController.js
Labels: bug, hacktoberfest-accepted, hacktoberfest, backend

#183 Refactor Contact page: implement form validation with Yup, enhance UI with loading state and error handling
  frontend/src/pages/contact/contact.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#185 Translate/english
  backend/src/controllers/contactControllers.js
  backend/src/controllers/earthquakesControllers.js
  backend/src/controllers/getStartControllers.js
Labels: hacktoberfest-accepted, hacktoberfest, backend, translation

#194 Fix: corrected missing closing tags and map closures
  frontend/src/pages/about/about.jsx
  frontend/src/pages/contact/contact.jsx
  frontend/src/pages/docs/docs.jsx
  frontend/src/pages/useCases/useCases.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend, fix

#189 Optimized Authentication Controllers (authControllers.js)
  backend/src/controllers/authControllers.js
Labels: hacktoberfest-accepted, hacktoberfest, backend, fix

#193 Added Civil Use Case
  frontend/src/pages/useCases/useCases.jsx
Labels: documentation, hacktoberfest-accepted, UI, hacktoberfest, frontend, new feature

#198 Refactor UI Improvements: Newsletter & Footer Refinements
  frontend/src/App.jsx
  frontend/src/components/footer/footer.jsx
  frontend/src/components/newsletter/Newsletter.jsx
  frontend/src/pages/home/home.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend, refactor

#199 fix: add GitHub login route to app entrypoint
  backend/src/app.js
Labels: hacktoberfest-accepted, hacktoberfest, backend, fix

#201 Add newsletter subscription, Mailgun integration, and environment config
  backend/.env-example
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/config/PasswordResetEmailFormat.html
  backend/src/config/PasswordResetEmailFormat.txt
  backend/src/config/mailerConfig.js
  backend/src/config/mailgunConfig.js
  backend/src/controllers/authControllers.js
  backend/src/controllers/newsletterController.js
  backend/src/libs/mailerService.js
  backend/src/libs/sendEmail.js
  backend/src/routes/authRoutes.js
  backend/src/routes/newsletterRoutes.js
  backend/src/services/emailService.js
  frontend/src/components/newsletter/Newsletter.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, backend, fix

#202 Fix CORS configuration and environment handling
  backend/src/app.js
Labels: bug, hacktoberfest-accepted, hacktoberfest, backend

#208 Refactor footer with NavLink, Terms & Privacy separation
  frontend/src/components/footer/footer.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#172 added Interactive map in explore data page (closing #44)
  backend/package.json
  frontend/.env-example
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/apiDocs/apiDocsEarthquakes.jsx
  frontend/src/components/apiPlayground/ApiPlayground.jsx
  frontend/src/components/map/EarthquakesMap.jsx
  frontend/src/components/map/Legend.jsx
  frontend/src/main.jsx
  frontend/src/pages/exploreData/exploreData.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, new feature

#203 Add/testimonial page
  frontend/components.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/newsletter/Newsletter.jsx
  frontend/src/components/testimonials/Testimonials.jsx
  frontend/src/components/ui/testimonial.jsx
  frontend/src/components/ui/timeline-animation.jsx
  frontend/src/pages/home/home.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend

#214 Refactor SEO Metadata and Page Titles
  frontend/src/App.css
  frontend/src/components/FAQ/FAQ.jsx
  frontend/src/components/footer/footer.jsx
  frontend/src/components/hero/hero.jsx
  frontend/src/pages/about/about.jsx
  frontend/src/pages/apiAccess/apiAccess.jsx
  frontend/src/pages/auth/changePassword.jsx
  frontend/src/pages/auth/forgotPassword.jsx
  frontend/src/pages/auth/resetPassword.jsx
  frontend/src/pages/auth/signIn.jsx
  frontend/src/pages/auth/signUp.jsx
  frontend/src/pages/blog/blog.jsx
  frontend/src/pages/contact/contact.jsx
  frontend/src/pages/contribute/contribute.jsx
  frontend/src/pages/docs/docs.jsx
  frontend/src/pages/exploreData/exploreData.jsx
  frontend/src/pages/home/home.jsx
  frontend/src/pages/privacyPolicy/privacyPolicy.jsx
  frontend/src/pages/termsAndConditions/termsAndConditions.jsx
  frontend/src/pages/useCases/useCases.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#213 Added Education and Learning Use Case
  frontend/src/pages/useCases/useCases.jsx
Labels: documentation, hacktoberfest-accepted, hacktoberfest, frontend

#215 Integrate Vercel Analytics into App Layout
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, info

#216 Title: Enhance API Security with Middleware
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
Labels: hacktoberfest-accepted, hacktoberfest, backend, fix

#217 Update
  backend/src/libs/sendEmail.js
  frontend/src/components/apiDocs/apiDocs.css
  frontend/src/components/apiDocs/apiDocsEarthquakes.jsx
  frontend/src/pages/about/about.jsx
  frontend/src/pages/docs/docs.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#221 New style/v1
  frontend/src/components/apiDocs/apiDocs.css
  frontend/src/index.css
  frontend/src/pages/about/about.jsx
  frontend/src/pages/docs/docs.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend, fix

#224 Integrate metrics API in About page
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/controllers/earthquakesControllers.js
  backend/src/controllers/metricsControllers.js
  backend/src/middleware/metrics.js
  backend/src/routes/metricsRouters.js
  frontend/src/pages/about/about.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, backend

#220 Improved seo , semantics and accessibility
  frontend/src/pages/useCases/useCases.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, fix

#226 Enhance SEO metadata for FAQ page
  frontend/src/components/FAQ/FAQ.jsx
  frontend/src/pages/about/about.jsx
  frontend/src/pages/apiAccess/apiAccess.jsx
  frontend/src/pages/auth/changePassword.jsx
  frontend/src/pages/auth/forgotPassword.jsx
  frontend/src/pages/auth/githubAuth.jsx
  frontend/src/pages/auth/resetPassword.jsx
  frontend/src/pages/auth/signIn.jsx
  frontend/src/pages/auth/signUp.jsx
  frontend/src/pages/blog/BlogPost.jsx
  frontend/src/pages/blog/blog.jsx
  frontend/src/pages/blog/blogDetail.jsx
  frontend/src/pages/contact/contact.jsx
  frontend/src/pages/contribute/contribute.jsx
  frontend/src/pages/docs/docs.jsx
  frontend/src/pages/exploreData/exploreData.jsx
  frontend/src/pages/home/home.jsx
  frontend/src/pages/noPage/metaData.jsx
  frontend/src/pages/noPage/noPage.jsx
  frontend/src/pages/privacyPolicy/privacyPolicy.jsx
  frontend/src/pages/profile/deleteProfile.jsx
  frontend/src/pages/profile/editProfile.jsx
  frontend/src/pages/profile/profile.jsx
  frontend/src/pages/termsAndConditions/termsAndConditions.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#227 This PR introduces Prometheus metrics collection for the TerraQuake API.
  backend/src/app.js
  backend/src/controllers/earthquakesControllers.js
  backend/src/controllers/metricsControllers.js
  frontend/src/pages/about/about.jsx
Labels: hacktoberfest-accepted, hacktoberfest, backend, fix

#228 Improve/use case
  frontend/src/App.jsx
  frontend/src/pages/useCases/useCases.jsx
  frontend/src/utils/useCases/AccordionItem.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend, refactor

#236 feat(global): add reusable BackToTopButton component and integrate
  frontend/src/components/FAQ/FAQ.jsx
  frontend/src/components/utils/backToTopButton.jsx
  frontend/src/pages/about/about.jsx
  frontend/src/pages/apiAccess/apiAccess.jsx
  frontend/src/pages/auth/changePassword.jsx
  frontend/src/pages/auth/forgotPassword.jsx
  frontend/src/pages/auth/resetPassword.jsx
  frontend/src/pages/auth/signIn.jsx
  frontend/src/pages/auth/signUp.jsx
  frontend/src/pages/blog/blog.jsx
  frontend/src/pages/blog/blogDetail.jsx
  frontend/src/pages/contact/contact.jsx
  frontend/src/pages/contribute/contribute.jsx
  frontend/src/pages/docs/docs.jsx
  frontend/src/pages/exploreData/exploreData.jsx
  frontend/src/pages/home/home.jsx
  frontend/src/pages/privacyPolicy/privacyPolicy.jsx
  frontend/src/pages/profile/profile.jsx
  frontend/src/pages/termsAndConditions/termsAndConditions.jsx
  frontend/src/pages/useCases/useCases.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#237 refactor style ui
  frontend/src/components/apiPlayground/ApiPlayground.jsx
  frontend/src/pages/exploreData/exploreData.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#238 Refactor: Uniform style for titles and motion effects in Docs and Explore Data pages
  frontend/src/components/FAQ/FAQ.jsx
  frontend/src/pages/about/about.jsx
  frontend/src/pages/apiAccess/apiAccess.jsx
  frontend/src/pages/blog/blog.jsx
  frontend/src/pages/contact/contact.jsx
  frontend/src/pages/docs/docs.jsx
  frontend/src/pages/privacyPolicy/privacyPolicy.jsx
  frontend/src/pages/termsAndConditions/termsAndConditions.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend, refactor

#239 refactor: updated page style to match Contact page design
  frontend/src/pages/auth/signIn.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend, refactor

#145 Created the home page component
  frontend/src/App.jsx
  frontend/src/pages/home/home.jsx
  frontend/src/pages/home/newHome.jsx
Labels: hacktoberfest-accepted, UI, hacktoberfest, frontend, refactor

#242 fixed profile page ui
  backend/.env-example
  backend/src/controllers/userControllers.js
  frontend/.env-example
  frontend/src/App.jsx
  frontend/src/pages/auth/signUp.jsx
  frontend/src/pages/profile/deleteProfile.jsx
  frontend/src/pages/profile/editProfile.jsx
  frontend/src/pages/profile/profile.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, fix

#230 Improve the footer section
  frontend/src/components/footer/footer.jsx
  frontend/src/pages/contact/contact.jsx
  frontend/src/pages/profile/profile.jsx
  frontend/src/pages/termsAndConditions/termsAndConditions.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#247 feat(auth): improve GitHub login flow with centered spinner
  frontend/src/pages/auth/githubAuth.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, fix

#233 Feature: Map Integration
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/assets/svgs/compass.svg
  frontend/src/components/apiDocs/apiDocsEarthquakes.jsx
  frontend/src/components/apiPlayground/ApiPlayground.jsx
  frontend/src/components/map/ShowInfo.jsx
  frontend/src/components/map/ShowProperties.jsx
  frontend/src/components/map/ViewMap.jsx
  frontend/src/components/map/mapUtil.js
  frontend/src/pages/exploreData/exploreData.jsx
  frontend/src/pages/home/home.jsx
  frontend/vite.config.js
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor

#248 add file env-example and remove map ed endpoint test
  backend/.env-example
  frontend/.env-example
  frontend/src/pages/home/home.jsx
Labels: bug, hacktoberfest-accepted, hacktoberfest, frontend

#249 feat: update map utilities, enhance ExploreData, add Legend component…
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/map/legend.jsx
  frontend/src/components/map/mapUtil.js
  frontend/src/components/map/showProperties.jsx
  frontend/src/components/map/viewMap.jsx
  frontend/src/pages/exploreData/exploreData.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend, refactor, fix

#262 docs: add API authentication section
  frontend/src/pages/docs/docs.jsx
Labels: hacktoberfest-accepted, hacktoberfest, frontend
